<div class="picwrapper">
<% 	@rf = FlickrFeed.imageGridArray(@episode_label); unless @rf.nil? %>

<div class="picupper">
	
<% (1..3).each do |rows| %>
<div class="picupper">
	<% (1..4).each do |cells| %>
	<% i = cells+(4*(rows-1)) %>
	<div class="picinner thumb">
	<div class="alt"><%= @rf[i]["keyword"] %></div>
		<a class="image-border" id="image-border" href="<%= @rf[i]["page_url"] %>" target="_blank" >
      <img src="<%= @rf[i]["url_square"] %>" alt="<%= @rf[i]["keyword"] %>" /></a>
      
    </div>
    <% end %>
    
</div>
<% end %>

<%= link_to "« ", '/items/fl?ep='+@episode_label, :id => "refresh-link", :class => "right_arrow", :remote => 'true' %>
<% end %>
</div>
