<div class="picwrapper">
<div class="picupper">
	<div class="picinner">
		<a href="<%= randomflickr; @rf.page_url %>" target="_blank" >
      <img src="<%= @rf.url_square %>" alt="flickr" /></a>
    </div>
    <div class="picinner">
		<a href="<%= randomflickr; @rf.page_url %>" target="_blank" >
      <img src="<%= @rf.url_square %>" alt="flickr" /></a>
    </div>
    <div class="picinner">
		<a href="<%= randomflickr; @rf.page_url %>" target="_blank" >
      <img src="<%= @rf.url_square %>" alt="flickr" /></a>
    </div>
    <div class="picinner">
		<a href="<%= randomflickr; @rf.page_url %>" target="_blank" >
      <img src="<%= @rf.url_square %>" alt="flickr" /></a>
    </div>
</div>

<div class="piclower">
    <div class="picinner">
		<a href="<%= randomflickr; @rf.page_url %>" target="_blank" >
      <img src="<%= @rf.url_square %>" alt="flickr" /></a>
    </div>
    <div class="picinner">
		<a href="<%= randomflickr; @rf.page_url %>" target="_blank" >
      <img src="<%= @rf.url_square %>" alt="flickr" /></a>
    </div>
    <div class="picinner">
		<a href="<%= randomflickr; @rf.page_url %>" target="_blank" >
      <img src="<%= @rf.url_square %>" alt="flickr" /></a>
    </div>
    <div class="picinner">
		<a href="<%= randomflickr; @rf.page_url %>" target="_blank" >
      <img src="<%= @rf.url_square %>" alt="flickr" /></a>
    </div>
    
    
</div>

<div class="piclower">
    <div class="picinner">
		<a href="<%= randomflickr; @rf.page_url %>" target="_blank" >
      <img src="<%= @rf.url_square %>" alt="flickr" /></a>
    </div>
    <div class="picinner">
		<a href="<%= randomflickr; @rf.page_url %>" target="_blank" >
      <img src="<%= @rf.url_square %>" alt="flickr" /></a>
    </div>
    <div class="picinner">
		<a href="<%= randomflickr; @rf.page_url %>" target="_blank" >
      <img src="<%= @rf.url_square %>" alt="flickr" /></a>
    </div>
    <div class="picinner">
		<a href="<%= randomflickr; @rf.page_url %>" target="_blank" >
      <img src="<%= @rf.url_square %>" alt="flickr" /></a>
    </div>
    
</div>

</div>
