<div class="picwrapper">
<div class="picupper">
	<div class="picinner">
		<a href="#">
      <img src="<%= FlickrFeed.random.url_square %>" alt="flickr" /></a>
    </div>
    <div class="picinner">
		<a href="#">
      <img src="<%= FlickrFeed.random.url_square %>" alt="flickr" /></a>
    </div>
    <div class="picinner">
		<a href="#">
      <img src="<%= FlickrFeed.random.url_square %>" alt="flickr" /></a>
    </div>
    <div class="picinner">
		<a href="#">
      <img src="<%= FlickrFeed.random.url_square %>" alt="flickr" /></a>
    </div>
</div>

<div class="piclower">
    <div class="picinner">
		<a href="#">
      <img src="<%= FlickrFeed.random.url_square %>" alt="flickr" /></a>
    </div>
    <div class="picinner">
		<a href="#">
      <img src="<%= FlickrFeed.random.url_square %>" alt="flickr" /></a>
    </div>
    <div class="picinner">
		<a href="#">
      <img src="<%= FlickrFeed.random.url_square %>" alt="flickr" /></a>
    </div>
    <div class="picinner">
		<a href="#">
      <img src="<%= FlickrFeed.random.url_square %>" alt="flickr" /></a>
    </div>
    
    
</div>

<div class="piclower">
    <div class="picinner">
		<a href="#">
      <img src="<%= FlickrFeed.random.url_square %>" alt="flickr" /></a>
    </div>
    <div class="picinner">
		<a href="#">
      <img src="<%= FlickrFeed.random.url_square %>" alt="flickr" /></a>
    </div>
    <div class="picinner">
		<a href="#">
      <img src="<%= FlickrFeed.random.url_square %>" alt="flickr" /></a>
    </div>
    <div class="picinner">
		<a href="#">
      <img src="<%= FlickrFeed.random.url_square %>" alt="flickr" /></a>
    </div>
    
</div>

</div>
