<div class="picwrapper">
<% randomflickr; unless @rf.nil? %>

<div class="picupper">
	<div class="picinner">
		
		<a class="image-border" href="<%= randomflickr; @rf.page_url %>" target="_blank" >
      <img src="<%= @rf.url_square %>" alt="flickr" /></a>
    </div>
    <div class="picinner">
		<a class="image-border" href="<%= randomflickr; @rf.page_url %>" target="_blank" >
      <img src="<%= @rf.url_square %>" alt="flickr" /></a>
    </div>
    <div class="picinner">
		<a class="image-border" href="<%= randomflickr; @rf.page_url %>" target="_blank" >
      <img src="<%= @rf.url_square %>" alt="flickr" /></a>
    </div>
    <div class="picinner">
		<a class="image-border" href="<%= randomflickr; @rf.page_url %>" target="_blank" >
      <img src="<%= @rf.url_square %>" alt="flickr" /></a>
    </div>
</div>

<div class="piclower">
    <div class="picinner">
		<a class="image-border" href="<%= randomflickr; @rf.page_url %>" target="_blank" >
      <img src="<%= @rf.url_square %>" alt="flickr" /></a>
    </div>
    <div class="picinner">
		<a class="image-border" href="<%= randomflickr; @rf.page_url %>" target="_blank" >
      <img src="<%= @rf.url_square %>" alt="flickr" /></a>
    </div>
    <div class="picinner">
		<a class="image-border" href="<%= randomflickr; @rf.page_url %>" target="_blank" >
      <img src="<%= @rf.url_square %>" alt="flickr" /></a>
    </div>
    <div class="picinner">
		<a class="image-border" href="<%= randomflickr; @rf.page_url %>" target="_blank" >
      <img src="<%= @rf.url_square %>" alt="flickr" /></a>
    </div>
    
    
</div>

<div class="piclower">
	
    <div class="picinner">
		<a class="image-border" href="<%= randomflickr; @rf.page_url %>" target="_blank" >
      <img src="<%= @rf.url_square %>" alt="flickr" /></a>
    </div>
    <div class="picinner">
		<a class="image-border" href="<%= randomflickr; @rf.page_url %>" target="_blank" >
      <img src="<%= @rf.url_square %>" alt="flickr" /></a>
    </div>
    <div class="picinner">
		<a class="image-border" href="<%= randomflickr; @rf.page_url %>" target="_blank" >
      <img src="<%= @rf.url_square %>" alt="flickr" /></a>
    </div>
    <div class="picinner">
		<a class="image-border" href="<%= randomflickr; @rf.page_url %>" target="_blank" >
      <img src="<%= @rf.url_square %>" alt="flickr" /></a>
    </div>
    
</div>
<%= link_to "« ", '/items/fl', :id => "refresh-link", :class => "right_arrow", :remote => 'true' %>
<% end %>
</div>
