<% unless @yt_items.nil? %>
	<div class="yt_item">

	<%= @yt_items.vid %> <%= @yt_items.title %><%= @yt_items.tag %>
	
	
	</div>
    <%= render 'shared/arrows'%> 
<% else %>
hello:(
    <%= render 'shared/arrows' %> 
<% end %>

