  <weather id="weather" class="content">
    <%=  render 'shared/weather' %>
  </weather>
<h1><%= @title %></h1>
<div class="wrapper">
	<div id = "videos" class="inner_box content">
      <%= render 'shared/yt' %>
    </div>
    <div id ="words" class="inner_box content">
      <%= render 'shared/twitter_widget' %>
    </div>
    <div id = "pictures" class="inner_box content">
      <%= render 'shared/flickr' %>
    </div>
    
	
</div>
