
<div class="wrapper">
<h1>Project Red Breast</h1>
  <div class="upper">
    <div id = "videos" class="inner_box redback">
      <%= render 'shared/yt' %>
    </div>
    <div id = "pictures" class="inner_box redback">
      <%= render 'shared/flickr' %>
    </div>
  </div>

  <div class="lower">
    <div id ="words" class="inner_box redback">
      <%= render 'shared/twitter_widget' %>
    </div>
    <div id="sounds" class="inner_box redback">
      <%= render 'shared/sound' %>
    </div>
  </div>
  <div class="lower">
    <div id ="amazon" class="inner_box redback">
      <%= render 'shared/amazon' %>
    </div>
    <div id="rssfeed" class="inner_box redback">
      <%= render 'shared/rssfeed' %>
    </div>
  </div>
</div>
